.places {
    text-align: center;
}

.places h1 {
    font-size: 30px;
    text-align: initial;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}

.places article h2 {
    font-size: 30px;
}
